body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-weight: 700;
    color: #17202A;
    font-size: 40px;
}
h2,h3,h4{
    color: #17202A;
}
p{
    color:gray;
}
section {
    margin-bottom: 50px;
    height: 500px;
}
.half-width {
    width: 43%;
    float: left;
    padding-left: 4%;
    padding-right: 2%;
}
.header-area {
    margin-top: 51px;
}
.hello{
    font-size: 60px;
    margin: 5px;
}
.orange-highlight{
    color: orange;
}
.hire-me{
    background-image: linear-gradient(45deg, orange,red);
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 5px;
   font-size: 20px;
   color: #fff;
   margin-top: 15px;
   display: inline-block;
}
.half-width > img{
    width: 100%;

}
img.second-img {
    width: 80%;
}
section.latest-area {
    background: lightgoldenrodyellow;
    min-height: 550px;
}
.latest-head {
    margin-bottom: 40px;
    padding-top: 33px;
    text-align: center;
}
.latest-highlight{
    color: orangered;
}

.width33 {
    width: 30.33%;
    height: 400px;
    padding-right: 3%;
    padding-left: 3%;
    padding: 25px 30px;
    margin-left: 26px;
    float: left;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 10px 10px 30px lightgrey;
}
.width33 img{
    width: 100%;
}
.text-area {
    padding: 0 20px;
}
.half-width.Download-cv {
    height: 500px;
}
.half-width.Download-cv {
    box-shadow: 10px 10px 40px lightgrey;
}
.lastet-work{
    height: 700px;
    background-color: black;
}
img.clint-img {
    width: 70%;
    border-radius: 5px;
}
.happy-clint-text h1 {
    padding-top: 30px;
}
.client-info h1 {
    font-size: 30px;
}
.happy-clint-text {
    text-align: center;
    margin-bottom: 80px;
    font-size: 60px;
    font-weight: 700;
}



footer {
    margin-top: 167px;
}
.inquey-area{
    background-color: gray;
}
.width60{
    width: 60%;
    padding-left: 20%;
}
.inquey-area {
    background-image: url(shapes/inqurybg);
    background-size: cover;
    height: 200px;
    border-radius: 30px;
}
h2.inquery-text {
    margin-top: 67px;
    font-size: 49px;
    color: #fff;
    font-weight: 700;
}
.lets-chat {
    margin-left: 190px;
    margin-top: 73px;
    display: inline-block;
}


.connected-area {
    padding-top: 20px;
}
.connected-inner {
    text-align: center;
}
.connected-inner h4 {
    color: gray;
}
.social-icon img {
    width: 43px;
    padding: 0 6px;
}
.social-icon {
    margin-bottom: 50px;
}